[submodule "vim/bundle/vim-rails-submodule"]
	path = vim/bundle/vim-rails-submodule
	url = git://github.com/tpope/vim-rails.git
[submodule "tmuxifier"]
	path = tmuxifier
	url = git://github.com/jimeh/tmuxifier.git
[submodule "vim/bundle/ultisnips-submodule"]
	path = vim/bundle/ultisnips-submodule
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-snippets-submodule"]
	path = vim/bundle/vim-snippets-submodule
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
