[submodule "tmuxifier"]
	path = tmuxifier
	url = git://github.com/jimeh/tmuxifier.git
[submodule "vim/bundle/ultisnips-submodule"]
	path = vim/bundle/ultisnips-submodule
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-snippets-submodule"]
	path = vim/bundle/vim-snippets-submodule
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
