/**************************************
* File Name: ${1:`Filename('', 'filename')`}${2:.c}
* Author:    ${3:`g:snips_author`}
* Email:     ${4:`g:snips_email`}
* Date:      ${5:`system("date +%Y-%m-%d")`}
* Description: ${6}
**************************************/

${7}
