/**************************************
* Funciont Name: $2
* Params: $3
* Return: $1
* Description: ${4}
**************************************/

${1:void} ${2:function_name} (${3})
{
	${5:/* code */}
}
