/**************************************
* Funciont Name: $1
* Params: $3
* Return: $2
* Description: ${4}
**************************************/

${2:int} ${1:function_name} (${3:int var})
{

	${5:/* code */}

	return 0;
}
